body {
    background-color: #333;
    background-image: url("img/Hatter.jpg");
    font-family: Arial, sans-serif;
    text-align: center;
}


header img {
    width: 1400px;
    height: 250px;
}

h1 {
    color: #333;
}

#parallelogram-calculator, #string-selector {
    margin: 20px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

input[type="number"], input[type="text"] {
    padding: 10px;
    margin: 5px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    border: 2px solid white;
}

button:hover {
    background-color: darkgrey;
}

#results {
    margin-top: 20px;
    color: #fff8f8;
}
